* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Ubuntu:wght@300&display=swap');


:root {
    --main-bg-color: #2874f0;

}

header {

    background: var(--main-bg-color);
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 28px;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;

}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
}

.search {
    display: flex;
    align-items: center;
}

.slider {
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}

.card {
    max-width: 91vw;
    margin: 37px auto;
}

.cards{
    display: flex;
    /* justify-content: center; */
    /* overflow: hidden; */
}
.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    /* width: 10vw; */
    margin: 0 15px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.card h2 {
    font-family: 'Ubuntu', sans-serif;

}

.search input {
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Instrument Sans', sans-serif;
}